@import url("https://fonts.googleapis.com/css2?family=Forum&family=Spectral:wght@300&display=swap");
.productos, main section.servicios .servicio .pservicio, .boton__unete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__blog, .menu__mobile, .menu {
  display: flex;
  position: sticky;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Forum", cursive;
  font-size: 16px;
}

header {
  display: flex;
  padding: 10px 20px;
  box-shadow: 0 0 10px black;
  background-color: #147384;
}

main {
  background-color: #44c5de;
}

article {
  background-color: #44c5de;
}

footer {
  background: rgb(20, 115, 132);
  background: linear-gradient(180deg, rgb(20, 115, 132) 0%, rgb(20, 115, 132) 26%, rgb(68, 197, 222) 100%);
}

.menu {
  top: 0;
  padding: 5px;
  width: 100%;
  z-index: 999;
  opacity: 0.93;
}

/* Titulo y Logo */
.logo {
  display: flex;
  height: 5rem;
  width: 5rem;
  border-radius: 80%;
  align-items: left;
}

.home {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}
.home:hover {
  text-decoration: none;
  color: gray;
  letter-spacing: 1px;
  font-weight: 900;
  box-shadow: 0 0 10px black;
  font-weight: bold;
}
.home .titulo {
  display: flex;
  margin: 0;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 900;
  padding: 15px 10px;
  align-items: left;
}

header .nav__index {
  text-align: end;
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 20px;
}
header .nav__index ul {
  display: flex;
  list-style-type: none;
}
header .nav__index ul li {
  margin-left: 1.25rem;
  font-size: 1.625rem;
  padding-top: 22px;
}
header .nav__index ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
header .nav__index ul li a:hover {
  color: gray;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.menu__mobile {
  top: 20px;
  width: 100%;
  z-index: 999;
  display: none;
  background-color: #147384;
}
.menu__mobile .container-fluid {
  background-color: #147384;
}
.menu__mobile .container-fluid .navbar-brand {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 900;
  border: 1%;
}

.offcanvas-header {
  background-color: #147384;
}
.offcanvas-header .offcanvas-title {
  font-size: 26px;
  font-weight: bold;
}

.offcanvas-body {
  background-color: #44c5de;
}
.offcanvas-body .nav-link {
  font-size: 20px;
}

.nav-item a:hover {
  color: gray;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

footer {
  width: 100%;
  justify-content: center;
}
footer .footer__container {
  display: flex;
  margin: auto;
  padding: 30px;
}
footer .footer__container .columna1__footer,
footer .footer__container .columna2__footer,
footer .footer__container .columna3__footer {
  width: 33%;
  font-weight: 800;
  padding: 20px;
}
footer .footer__container .columna1__footer h3,
footer .footer__container .columna1__footer h4,
footer .footer__container .columna2__footer h3,
footer .footer__container .columna2__footer h4,
footer .footer__container .columna3__footer h3,
footer .footer__container .columna3__footer h4 {
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 10px;
}

.columna1__footer,
.row1,
.row2 {
  margin-top: 10px;
}
.columna1__footer img,
.row1 img,
.row2 img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}
.columna1__footer p,
.row1 p,
.row2 p {
  font-size: 18px;
  margin-top: 25px;
}
.columna1__footer label,
.row1 label,
.row2 label {
  margin-top: 10px;
  margin-left: 10px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.columna1__footer label:hover,
.row1 label:hover,
.row2 label:hover {
  color: gray;
  letter-spacing: 1px;
}

.columna1__footer {
  margin-top: 0;
}

.footer__copyright {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
}
.footer__copyright .copyright {
  padding-left: 10px;
}
.footer__copyright .copyright .copyright label {
  font-weight: bold;
}

.politica {
  padding-right: 10px;
}
.politica a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.politica a:hover {
  color: gray;
}

/* Carrusel de imagenes */
main section {
  width: 100%;
}
main section .texto-inicio {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.875rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px black;
  padding: 10px;
  opacity: 0.7;
  border-radius: 10%;
}
main section .carousel-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Seccion Nuestra Mision */
.mision {
  font-size: 2em;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-weight: bold;
}

.mision__parrafo {
  font-size: 24px;
  text-align: center;
  padding: 10px, 15px, 10px, 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.boton__unete {
  padding: 25px;
  font-size: 26px;
  background-color: #44c5de;
  color: #147384;
}
.boton__unete .unete {
  background-color: #147384;
}

/* Seccion "Clientes Satisfechos" */
.titulo__C {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
  padding-top: 3.125rem;
  padding-bottom: 10px;
  font-weight: bold;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}
.card .card-img-top {
  width: 100%;
  height: 28em;
}

.tituloS {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  padding-top: 20px;
  font-weight: bold;
}

main section.servicios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  grid-gap: -10px;
  gap: -10px;
  width: 100%;
}
main section.servicios .servicio {
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  justify-items: center;
  justify-content: center;
  width: 70%;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
main section.servicios .servicio h3 {
  font-weight: bold;
}
main section.servicios .servicio .pservicio {
  width: 100%;
  border-radius: 2%;
}

.productos {
  flex-direction: column;
  justify-content: center;
}
.productos .tituloP {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}
.grid-container .producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
}
.grid-container .producto .imagenp {
  width: 190px;
  height: 190px;
  overflow: hidden;
}

.imagenp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.producto a {
  margin-top: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 550;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}
.producto a:hover {
  color: gray;
  font-weight: bold;
}

.tituloB {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: bold;
}

.titulo__blog {
  padding-bottom: 20px;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

img.img_blog1 {
  display: flex;
  padding-left: 100px;
  padding-bottom: 30px;
  width: 90%;
  height: 300px;
}

.text__consejos {
  font-size: 22px;
  text-align: left;
  padding-right: 40px;
  padding-top: 10px;
}

.menu__blog {
  top: 10px;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto .tituloC {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 20px;
}
.contacto .tituloC form {
  margin-top: 20px;
}

.nombre__contacto,
.correo__contacto,
.mensaje__contacto,
.boton__contacto {
  margin-bottom: 20px;
}
.nombre__contacto label,
.correo__contacto label,
.mensaje__contacto label,
.boton__contacto label {
  display: block;
  font-weight: bold;
}

.nombre__contacto input,
.correo__contacto input,
.mensaje__contacto textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.boton__contacto {
  display: flex;
  justify-content: center;
}
.boton__contacto button {
  background-color: #147384;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mapa {
  margin: 20px;
}

/* Vista Tablet */
@media (min-width: 577px) and (max-width: 875px) {
  /* Edicion de Header y Nav */
  .home .titulo {
    font-size: 24px;
    text-align: left;
    padding-top: 20px;
    margin: 0%;
  }
  .logo {
    height: 4rem;
    width: 4rem;
    justify-content: first baseline;
  }
  header nav {
    margin: 0%;
    padding: 0%;
  }
  header nav ul {
    margin-top: -10px;
  }
  header nav ul li {
    padding-top: 0;
    letter-spacing: -1px;
  }
  header nav ul li a {
    display: inline;
    margin-left: 1.2rem;
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding: auto;
    margin: auto;
  }
  /* Edicion de Index */
  main section .texto-inicio {
    position: absolute;
    top: 25%;
    left: 28%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    opacity: 0.7;
    border-radius: 10%;
  }
  /* Edicion de pagina "Servicios */
  main section.servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    justify-content: center;
    padding-right: 10px;
    overflow: hidden;
  }
  main section.servicios .servicio {
    margin: 20px;
    width: 200px;
    text-align: center;
    width: 80%;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  main section.servicios .servicio h4 {
    font-weight: bold;
  }
  main section.servicios .servicio .pservicio {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  /* Edicion de Productos */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .grid-container .producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    font-weight: 600;
  }
  .grid-container .producto .imagenp {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 5%;
  }
  /* Edicion de Blog */
  img.img_blog1 {
    display: flex;
    padding-left: 100px;
    padding-bottom: 30px;
    width: 90%;
    height: 300px;
  }
  /* Edicion de Footer */
  footer .footer__container,
  footer .footer__copyright {
    flex-wrap: wrap;
  }
}
/* Vista Mobile */
@media (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menu {
    flex-direction: column;
  }
  .nav__index,
  .menu__index,
  .titulo,
  .home {
    display: none;
  }
  .menu__mobile {
    display: grid;
    position: sticky;
    top: 20px;
    background-color: #147384;
    padding: 0;
    margin: 0;
  }
  .menu__mobile .offcanvas-body a {
    font-weight: 600;
  }
  .navbar-brand {
    padding-right: unset;
    padding-left: 10px;
  }
  main section .texto-inicio {
    position: absolute;
    top: 25%;
    left: 28%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.7;
    border-radius: 10%;
  }
  /* Seccion Productos */
  main .productos .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
    overflow: hidden;
  }
  main .productos .grid-container .producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
  }
  main .productos .grid-container .producto .imagenp {
    width: 160px;
    height: 160px;
    border-radius: 5%;
  }
  .imagenp img {
    width: 90%;
    height: 90%;
    border-radius: 5%;
  }
  .producto a {
    margin-top: 10px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
  }
  .tituloS,
  .tituloC,
  .tituloB,
  .tituloP {
    font-size: 24px;
  }
  /* Edicion de Seccion SERVICIOS */
  main section.servicios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
  }
  main section.servicios .servicio {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    justify-items: center;
    justify-content: center;
    width: 70%;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  main section.servicios .servicio h3 {
    font-weight: bold;
  }
  main section.servicios .servicio .pservicio {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    border-radius: 2%;
  }
  /* Edicion de Blog */
  main article .tituloB {
    justify-content: center;
    text-align: center;
  }
  main article .tituloB .titulo__blog h4 {
    justify-content: center;
    text-align: center;
  }
  main article .listado__blog {
    padding: 0%;
    margin: 0%;
    overflow: hidden;
  }
  .tituloB {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .text__consejos {
    font-size: 22px;
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;
  }
  img.img_blog1 {
    display: flex;
    width: 100%;
    padding: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0%;
  }
  .listado__blog {
    overflow: hidden;
  }
  /* Edicion de Footer */
  .footer__container,
  .footer__copyright {
    flex-wrap: wrap;
  }
  .columna1__footer,
  .columna2__footer,
  .columna3__footer {
    margin: 30px;
  }
  .politica {
    padding-left: 12px;
  }
}
/* Edicion Extra para seccion Productos */
@media (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
    width: 100%;
    justify-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 10%;
    overflow-x: hidden;
  }
  .imagenp img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }
}
/* Mobile XS */
@media (max-width: 420px) {
  .texto-inicio {
    right: 35%;
    font-size: 12px;
  }
  .texto-inicio p {
    margin: 0;
  }
  .navbar-brand {
    padding-right: unset;
  }
  .home .titulo {
    display: flex;
    align-items: left;
  }
}

/*# sourceMappingURL=estilos.css.map */
