@media (min-width: 577px) and (max-width: 875px) {
/* Edicion de Header y Nav */
.home {
    .titulo {
        font-size: 24px;
        text-align: left;
        padding-top: 20px;
        margin: 0%;
    }
}
.logo {
    height: 4rem;
    width: 4rem;
    justify-content: first baseline;
}
header {
    nav {
        margin: 0%;
        padding: 0%;
        ul {
            margin-top: -10px;
            li {
            padding-top: 0;
            letter-spacing: -1px;
                a {
                display: inline;
                margin-left: 1.20rem;
                font-size: 20px;
                align-items: center;
                text-align: center;
                padding: auto;
                margin: auto;
                }
            }
        }
    }
} 
/* Edicion de Index */
main {
    section {
        .texto-inicio {
            position: absolute;
            top: 25%;
            left: 28%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            background-color: rgba(255, 255, 255, 0.7);
            padding: 10px;
            opacity: 0.7;
            border-radius: 10%;
        }
    }
}
/* Edicion de pagina "Servicios */
.servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    justify-content: center;
    .servicio {
        margin: 20px;
        width: 250px;
        text-align: center;
        width: 80% ;
        font-size: 16px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        h4 {
            font-weight: bold;
        }
    }
}
.pservicio {
    display: flex;
    width: 250px;
    height: 220px;
    justify-content: center;
    align-content: center;
} 
/* Edicion de Footer */
footer {
    .footer__container,
    .footer__copyright{
    flex-wrap: wrap;
    }
}
}