.menu__mobile {
    @extend %sticky;
    top: 20px;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: map-get($fondos, fondo-secundario );
    .container-fluid {
        background-color: map-get($fondos, fondo-secundario );
        .navbar-brand {
            font-size: 24px;
            letter-spacing: 1px;
            font-weight: 900;
            border: 1%;
        }
    }
}
.offcanvas-header {
    background-color: map-get($fondos, fondo-secundario );
    .offcanvas-title {
    font-size: 26px;
    font-weight: bold;
    }
}
.offcanvas-body {
    background-color:map-get($fondos, fondo-primario );
    .nav-link {
        font-size: 20px;
    }
}
.nav-item {
        a:hover{
        color: gray;
        font-weight: bold;
        transition: color 0.3s ease-in-out;
    }
}


