.tituloB {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: bold;
}
.titulo__blog {
    padding-bottom: 20px;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}
img.img_blog1 {
    display: flex;
    padding-left: 100px;
    padding-bottom: 30px;
    width: 800px;
    height: 300px;
}
.text__consejos {
    font-size: 22px;
    text-align: left;
    padding-right: 40px;
    padding-top: 10px;
}

.menu__blog {
    display: flex;
    position: sticky;
    top: 10px;
}